<div class="container">
  <header>
    <h1>Neben & Wedam</h1>
    <div class="search-bar">
      <mat-form-field appearance="fill" class="searchbar">
        <mat-label>Text query to search for desired video content</mat-label>
        <input matInput [(ngModel)]="query" (keydown.enter)="search()">
      </mat-form-field>
      <button mat-icon-button (click)="search()" class="search-button">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </header>
  <main *ngIf="videoData">
    <div class="video-row"> <!-- *ngFor="let video of videos" -->
      <div class="video-actions">
        <div class="video-id">
          <mat-icon (click)="openVideoDialog(videoData.VideoID)" class="play-icon" color="primary">play_arrow</mat-icon>
          <span>{{ videoData.VideoID }}</span>
        </div>
          <div class="auto-submit">
            <mat-icon (click)="openSubmitDialogAuto(videoData.VideoID)" class="auto-submit-button">upload</mat-icon>
          </div>
      </div>
      <div class="thumbnails">
        <div *ngFor="let frame of videoData.Frames; let i = index" class="thumbnail">
          <div class="image-container">
            <img [src]="'data:image/jpeg;base64,' + frame.KeyframeImage" [alt]="frame.Starttime" (click)="openFrameDialog(videoData.VideoID, i)" class="frames">
          </div>
          <span>{{ frame.Starttime }}</span>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <button mat-fab class="footer-icon" (click)="openSubmitDialogManual()">
      <b>!</b>
    </button>
  </footer>
</div>

